<!-- app.component.html -->
<div>
  <h1>Bibliothèque</h1>

  <!-- Formulaire pour ajouter un nouveau livre -->
  <form>
    <!-- Champ de texte pour le titre du livre -->
    <label for="titre">Titre du livre:</label>
    <input type="text" id="titre" name="titre" [(ngModel)]="nouveauLivre.titre" placeholder="Titre du livre" />

    <!-- Champ de texte pour l'auteur du livre -->
    <label for="auteur">Auteur du livre:</label>
    <input type="text" id="auteur" name="auteur" [(ngModel)]="nouveauLivre.auteur" placeholder="Auteur du livre" />

    <!-- Champ de texte pour l'année de publication du livre -->
    <label for="annee">Année de publication:</label>
    <input type="number" id="annee" name="annee" [(ngModel)]="nouveauLivre.anneePublication" placeholder="Année de publication" />

    <!-- Champ de texte pour le genre du livre -->
    <label for="genre">Genre du livre:</label>
    <input type="text" id="genre" name="genre" [(ngModel)]="nouveauLivre.nomGenre" placeholder="Genre du livre" />

    <!-- Bouton pour ajouter un nouveau livre -->
    <button type="button" (click)="ajouterLivreFormulaire()">Ajouter un livre</button>
  </form>

  <!-- Liste des livres avec leur statut d'emprunt -->
  <ul>
    <li *ngFor="let livre of bibliotheque.livres">
      {{ livre.titre }} - {{ livre.auteur }} - {{ livre.anneePublication }} - {{ livre.nomGenre }} - {{ livre.emprunte }}
      <button (click)="supprimerLivreFormulaire(livre)">Supprimer</button>
      <button (click)="afficherDetailsLivreFormulaire(livre)">Afficher les détails</button>
    </li>
  </ul>
</div>
